<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
</head>
<body>
    <h1>Liste des Utilisateurs</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <a href="/api/users/<%= user.id %>"> <!-- Lien vers les détails de l'utilisateur -->
                    <%= user.id %> - <%= user.username %>
                </a>
            </li>
        <% }); %>
    </ul>
    <a href="/">Retour à l'accueil</a>
</body>
</html>